* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    margin: 0;
    direction: rtl;
}

@font-face {
    font-family: shabnam;
    src: url(./fonts/Shabnam.ttf);
}

@font-face {
    font-family: iranYekanMediumFN;
    src: url(./fonts/iranYekanMediumFN.ttf);
}

/* @font-face {
    font-family: BTitr;
    src: url(./fonts/BTitr.ttf);
    font-display: fallback;
} */

.lineNav {
    height: 3px;
    width: 200px;
    background: #cfb997;
}

.navItems {
    font-family: "shabnam";
    color: #967e76;
    font-weight: bold;
}

.navItems:hover {
    /* text-decoration: underline; */
    font-weight: bold;
}

.navItems:hover .navItemsDiv {
    text-decoration: underline;
}

.navItemsDiv {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    text-decoration: none !important;
}

.navItemsDiv:hover .navHr {
    transform: scale(1);
}

.navHr {
    background-color: #815b5b;
    height: 3px !important;
    margin-top: 2px !important;
    transform: scale(0);
    transition: transform 0.4s ease;
}

a {
    text-decoration: none !important;
}

/* .navItems2{
    font-family: 'shabnam';
    color: #967E76;
    font-weight: bold;
}

.navItems2:hover {
    font-weight: bold;
}

.navItems2:hover .navItemsDiv{
    text-decoration: underline;
} */

.backImg {
    background-repeat: no-repeat;
    background-image: url(assets/img/mainPic.jpg);
    width: 100%;
    height: 650px;
    background-position: 50% 100%;
    opacity: 85%;
}

.firstSectionImg {
    background-repeat: no-repeat;
    background-image: url(assets/img/firstSection.jpeg);
    width: 505px;
    height: 392px;
}

/* .glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  } */

.largeNavbar {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-bottom: 30px;
}

.hamburgerMenuDiv {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 20px;
}

.goldenResumeText {
    font-size: 1.3rem;
    color: white;
    font-family: "shabnam";
}

.goldenResumeDiv{
    display: flex;
    padding-top: 75px;
    width: 50%;
    justify-content: center;
}

.helloText{
    position: absolute; 
    text-transform: uppercase;
    font-weight: 900;
    font-size: 150px;
    transform: translateY(-50%); 
    opacity: 0.1;
    direction: ltr;
}

.parsAkhzarText{
    font-size: 60px;
    color: #49433c;
    padding-top: 15px;
    line-height: 1;
    position: relative; 
    word-wrap: break-word;
    text-transform: uppercase;
    font-weight: 900;
}

.parallaxImg{
    background-image: url(assets/img/parallax.jpg);
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.cardDiv{
    position: relative;
    transition: height 0.2s ease-in-out 0s;
    height: 333.325px;
    margin-right: -15px;
    margin-left: -15px;
    
}

@media (min-width: 300px) and (max-width: 700px) {
    .largeNavbar {
        display: none !important;
    }
    .goldenResumeText {
        text-align: center !important;
    }
    .goldenResumeDiv{
        width: 100% !important;
    }
    .helloText{
        font-size: 80px !important;
        padding-left: 10px;
    }
    .parsAkhzarText{
        font-size: 38px !important;
    }
}

@media (min-width: 701px) and (max-width: 3000px) {
    .hamburgerMenuDiv {
        display: none !important;
    }
}
